html, body {
    height: 100%;
}

body {
    max-width: 400px;
    font-family: gotham, arial, helvetica, sans-serif;
    font-size: 18px;
    padding: 50%;
    margin: 0 auto !important;
    background-color: black;
    color: white;
    text-align: justify;
}

.biografia{
    font-size: 70%;
    text-align: center;
}

.texto_em_destaque{
    color: #22D4FD;
}

.texto_editado{
    font-weight: bold;
}

.formacao{
    color: #22D4FD;
    border: 1px solid #22D4FD;
    padding: 10px;
}

div.parte_esquerda{
    text-align: center;
    height: 482px;
    width: 615px;
    left: 357px;
    top: 278px;
    border-color: #22D4FD;
    border-radius: 500px;
}

.flex-container {
    display: flex;
    /*isso centraliza o texto horizontalmente*/
    justify-content: center;
    /*isso centraliza o texto verticalmente*/
    align-items: center;

    border-radius: 500px;
    height: auto;
    color: #fff;
    font-size: 1.2rem;
}

button {
        border: none;
        padding: 10px;
        text-decoration: none;
        cursor: pointer;
        transition: .3s;
        border-radius: 5px;
        background-color: #22D4FD;
        color: black;
}
